{% extends 'layouts/base.html.twig' %}

{% block title 'Edit post#' ~ post.id %}


{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">

			<h1>Edit post #{{post.id}}</h1>
			<div class="form">
				{{ include ("posts/_form.html.twig",{ submitButtonText:'Edit post' })}}
			</div>
		</div>


	</div>

{% endblock %}

