{% extends 'layouts/base.html.twig' %}


{% block title 'Billets de blog!' %}


{% block body %}

	{% if posts|length > 0 %}

		{% for row in posts|batch(3) %}
			<div class="row mb-5">
				{% for post in row %}
					<div class="col-md-4">

						<article class="post bg-white rounded shadow">
							<a class="text-muted text-secondary text-decoration-none" href="{{path('app_posts_show', {id: post.id})}}">
								<h2 class="h5 pl-3 pt-3 ">{{post.title}}</h2>
							</a>
							<p class="pt-3 text-break ">
								{{post.description}}
							</p>


						</article>
					</div>

				{% endfor %}

			</div>
		{% endfor %}

	{% else %}
		<p class="h2 mt-5 text-center">No post yet.
			<a href="{{ path('app_posts_create')}}">Be the first!</a>
		</p>
	{% endif %}


{% endblock %}
