{% extends 'layouts/base.html.twig' %}


{% block title 'Réinitialisez votre mot de passe'%}

{% block header %}
<h1 class="pt-4 text-center">Réinitialisation du mot de passe</h1>

{% endblock %}

{% block body %}
	<div class="row my-5 py-5">
		<div class="col-md-6 mx-auto my-5 py-5">

			<p>Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans
				{{ tokenLifetime|date('g') }}
				heure(s).
			</p>

			<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou</p>

			<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>


	    </div>


    </div>
{% endblock %}
