{% extends 'layouts/base.html.twig' %}

{% block title 'A propos |Alain N Bahire ' %}

{% block header %}
	<div class="mt-5 mb-5 text-center">
		<h1 class="mb-3">A propos de moi</h1>
		<h2 class="h5 mb-2 text-center  text-muted">Découvrez qui je suis et d'où je viens.</h2>

	</div>


{% endblock %}
{% block body %}
	<section class="about">
		<div
			class="container d-flex align-items-center flex-column">
			<!-- Masthead Avatar Image-->
			<img class="mx-5 col-4 border rounded-circle bg-success my-5" src="assets/img/avataaars.svg" alt=""/>

			<!-- Masthead Heading-->
			<h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
			<!-- Icon Divider-->
			<div class="divider-custom divider-light">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon">
					<i class="fas fa-star"></i>
				</div>
				<div class="divider-custom-line"></div>
			</div>
			<!-- Masthead Subheading-->
			<p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
		</div>
	</section>
	<section class="services">
		<div class="text-center">
			<h2>Mes sérvices</h2>
			<p>Tout ce que je propose avec un aperçu détaillé de chacun.</p>
		</div>


		<div class="mt-5 mb-5 pb-5 d-flex justify-content-between border-bottom ">

			<div class="col-3">
				<img class="bg-info" src="{{asset('assets/img/laptop-computer-code-svg.svg')}}" alt="">

			</div>
			<div class="col-8">

				<div class="mb-3">
					<h2>
						Développement web
					</h2>
				</div>


				<div class="spacing-tiny-top">
					<div class="content-styles">
						<h3 class="h4 mb-2">

							HTML / CSS
						</h3>
						<p>
							Créer une base solide pour un site Web signifie avoir la bonne architecture HTML et CSS. 
																																																									Si vous avez un design, je peux le réaliser.
						</p>


					</div>
				</div>

				<div class="spacing-tiny-top">
					<div class="content-styles">
						<h3 class="h4 mb-2">

							WordPress
						</h3>
						<p>
							Almost all of the websites I make are done using WordPress and the reason is simple: It just works. You can easily update every piece of content, turn sections on or off and so much more.
						</p>
					</div>
				</div>

				<div class="spacing-tiny-top">
					<div class="content-styles">
						<h3 class="h4 mb-2">

							Symfony
						</h3>
						<p>
							Having a fast website is key to keeping people around which ultimately converts them into customers. There are a myriad of techniques involved in making a fast website, all of which I've spent years learning. I build these techniques into every site I code and can also offer this as a standalone service for existing websites.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>


{% endblock %}
