{% extends 'layouts/base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}
{% block header %}

	<div class="row d-flex justify-content-center mt-5 mb-5 pb-5 site-banner__inner ">


		<div class="col-5 ml-5 mt-5 pt-5 pl-5 mb-5 site-banner__content">


			<h1 class="site-banner__title">
				Hey, Je suis Alain.
			</h1>


			<h2 class="h4 pt-3 text-muted site-banner__subtitle">

				developpeur web de Toulouse en France.
			</h2>


			<div class=" pt-3 site-banner__btn">
				<a class="btn btn-dark btn-secondary btn-lg " href="#">

					Mes projets
				</a>
			</div>

		</div>


		<figure class=" avatar-pic col-4  overlap-img">


			<picture>
				<img class="pt-5" src="/assets/img/1547510251.svg" alt="avatar">

			</picture>
		</figure>

	</div>
{% endblock %}

{% block body %}

	<!-- Portfolio Section-->
	<section class="page-section portfolio" id="portfolio">
		<div
			class="container">
			<!-- Portfolio Section Heading-->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Réalisations</h2>
			<!-- Portfolio Grid Items-->
			<div
				class="row">
				<!-- Portfolio Item 1-->
				<div class="col-md-6 col-lg-4 mb-5">
					<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
<a href="https://webagency-projets.info/">

<img class="img-fluid border rounded-circle shadow" src="https://screenshot.ionos.com/storage/1f66f086d5d4716c201f6d7662455fbeb284dfc4b6b7038a7c0edbe183e6fc45?timeout=15&oldScreenshot=false&uuid=a39ab94bb04ded56ffde47&cd=73490233" alt="image site "/>

						</a>

					</div>
				</div>
				<!-- Portfolio Item 2-->
				<div class="col-md-6 col-lg-4 mb-5">
					<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
<a href="http://ireki-t.webagency-projets.info/" >

<img class="img-fluid border rounded-circle shadow" src="https://screenshot.ionos.com/storage/15f1b83234c25d620796a1d822b4ef5e36ee00005c53679ef519808da565f012?timeout=15&oldScreenshot=false&uuid=859af9ab34647c068b9769" alt="image site "/>

						</a>


					</div>
				</div>
				<!-- Portfolio Item 3-->
				<div class="col-md-6 col-lg-4 mb-5">
					<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
<a href="https://t-velos.webagency-projets.info/">

<img class="img-fluid border rounded-circle shadow" src="https://screenshot.ionos.com/storage/ca8c296038dad0cf525063f694c087a1f87e55d99b5ab43e77425c1ffdfe6f78?timeout=15&oldScreenshot=false&uuid=a6adaa6ef42ae0549a3665" alt="image site "/>

						</a>

					</div>
				</div>
				<!-- Portfolio Item 4-->
				<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
					<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
<a href="https://alaska.webagency-projets.info/">

<img class="img-fluid border rounded-circle shadow" src="https://screenshot.ionos.com/storage/275c7edc6e5f012734c227a76a05d80e938eded56badd5d5e25f59cc37e474f7?timeout=15&oldScreenshot=false&uuid=70ec030dc1f1ba7db62cdf" alt="image site "/>


						</a>

					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
