<footer
	class="container text-center mt-5">

	<div class="text-muted">
        &copy; {{'now'|date('Y')}} &middot;
        Built with <span class="text-danger">&hearts;</span> by
        <a href="https://github.com/nbahire">

			Alain N</a>
	</div>

</footer>
