<!-- Footer-->
<footer class="pt-5 pb-5 footer text-white text-center" style="background-color: #0E1C2A;">

	<div class="container ">
		<div
class=" row d-flex justify-content-between">

			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="mb-2">
					<i class="fas text-uppercase fa-map-marker-alt"></i>
					Localisation
				</h4>

				<p class="lead mb-0">
					Toulouse, France
				</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Sur le Web</h4>
				<a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/AlainBahire">

					<i class="fab fa-fw fa-twitter"></i>
				</a>
				<a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/alain-nsanzabahire-40b31a198/">

					<i class="fab fa-fw fa-linkedin-in"></i>
				</a>
				<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/nbahire">

					<i class="fab fa-fw fa-github"></i>
				</a>

			</div>
		</div>
	</div>
</footer>


<div class="text-center text-white" style="background-color: #112437;">

	&copy;
	{{'now'|date('Y')}}
	&middot;
																		Built with
	<span class="text-danger">&hearts;</span>
	by
<a href="https://github.com/nbahire/PROJET-5">


		Alain N</a>
</div>
