<div class="row d-flex justify-content-around text-light mr-0 site-cta " style="background-color: #0E1C2A;">


	<div class="  mt-5 ">


		<ul class="mt-5  ">


			<li class=" icon-list__item">
				<span class="icon-list__img">
					<i class="fas fa-envelope"></i>
				</span>

				<a class="text-light" href="#">

					myportefolio@gmail.com
				</a>
			</li>
			<li class="icon-list__item">
				<span class="icon-list__img">
					<i class="fab fa-twitter text-primary"></i>
				</span>
				<a class="text-light" href="#" target="_blank" rel="noopener">

					On Twitter
				</a>
			</li>
		</ul>
	</div>
</div>

<footer class="text-center" style="background-color: #0E1C2A;">


	<div class="text-white">
		&copy;
		{{'now'|date('Y')}}
		&middot;
														Built with
		<span class="text-danger">&hearts;</span>
		by
		<a href="https://github.com/nbahire">

			Alain N</a>
	</div>

</footer>
