<div class="row d-flex justify-content-around text-light m-0 pb-5 site-cta " style="background-color: #0E1C2A;">


	<div class=" mt-5 pt-5 border border-primary mb-5 ">

		<div class="content-styles spacing-tiny-bottom">
			<h2 class="site-cta__title">
				Let's Work Together
			</h2>
			<p class="site-cta__txt">
				Have a project you'd like to discuss?
			</p>
		</div>
		<a class="btn btn-info text-light" href="/contact/">

			Get in Touch
		</a>
	</div>
	<div class="  mt-5  border border-success">


		<ul class="mt-5  ">


			<li class=" icon-list__item">
				<span class="icon-list__img">
					<i class="fas fa-envelope"></i>
				</span>

				<a class="text-light" href="mailto:seb@sebkay.com">

					seb@sebkay.com
				</a>
			</li>
			<li class="icon-list__item">
				<span class="icon-list__img">
					<i class="fab fa-twitter text-primary"></i>
				</span>
				<a class="text-light" href="https://twitter.com/sebkaydesign" target="_blank" rel="noopener">

					On Twitter
				</a>
			</li>
		</ul>
	</div>
</div>

<footer class="text-center" style="background-color: #0E1C2A;">


	<div class="text-white">
		&copy;
		{{'now'|date('Y')}}
		&middot;
								Built with
		<span class="text-danger">&hearts;</span>
		by
		<a href="https://github.com/nbahire">

			Alain N</a>
	</div>

</footer>
