{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title "Interface d'administration" %}

{% block page_content %}
	<div class="container t">
		<div class="row my-5">
			<div class="py-5 mx-auto col-md-3 col-sm-12 bg-info text-center text-light rounded">


				<span class="display-3">{{countAllUsers['value']}}</span>
				<strong>
					Utilisateurs</strong>


			</div>
			<div class="py-5 mx-auto col-md-3 col-sm-12 bg-danger text-center text-light rounded">


				<span class="display-3">{{countAllComments['value']}}</span>
				<strong>
					Commentaires</strong>

			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<p class="h3">Liste des articles</p>
				<ul class="list-group">
					{% for post in posts %}
						<a href="" class="">

							<li class="h2 list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">

								{{post.title}}
								<img class="col-1 img-thumbnail" src=" /uploads/images/{{post.imageName}} " alt=" ">
							</li>
						</a>

					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
