{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}

    <p>
        <strong>You have successfully installed EasyAdmin 3 in your application!</strong>
    </p>

    <pre>

    </pre>
{% endblock %}
