
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import 'shared/variables';
@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/all.css';


html body{
    font-family: 'Montserrat', sans-serif;
}
.alert{
    padding: 10px;
    margin: 0;
    text-align: center;
    border: none;
    border-radius: 0;
    color: azure;
    &.alert-success{
        background-color: green;
    }
    
    &.alert-error{
        background-color: red;
    }
    
    &.alert-info{
        background-color: blue;
    }
}
.avatar-pic {
        @extend .mt-5, .text-center;
    
    img{
        @extend  .mb-2,  .rounded,  .shadow,  .img-thumbnail, .bg-secondary;
        width: 50%;
    }
}
.site-banner {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

}
.site-cta{
    -webkit-clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);

}
