
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import 'shared/variables';
@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/all.css';

html{
    scroll-behavior: smooth;
}
 body{
    font-family: 'Montserrat', sans-serif;
}
section{
    @extend .my-5, .py-5;
}
.alert{
    padding: 10px;
    margin: 0;
    text-align: center;
    border: none;
    border-radius: 0;
    color: azure;
    &.alert-success{
        background-color: green;
    }
    
    &.alert-error{
        background-color: red;
    }
    
    &.alert-info{
        background-color: blue;
    }
}
.avatar-pic {
        @extend .mt-5, .text-center;
    
    img{
        @extend  .mb-2,  .rounded,  .shadow,  .img-thumbnail, .bg-secondary;
        width: 50%;
    }
}

.navbar{
    transition: top 0.3s;
    & img{
        height: 60px;
    }
}

.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}
.comments-details {
    padding: 15px 15px;
}
.comments button {
    background-color: transparent;
    border: none;
}
.comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding: 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 50px;
}
.commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.commenter-name {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    top: 20px;
    left: 0px;
}
.add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}
.add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.add-comment button {
    background-color: rgb(211, 209, 209);
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}
.comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}
.comment-txt {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 15px;
}
.commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.reply-box {
    display: none;
}

.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
.main-sidebar{
    background-color: #714DAF;
}
/*======Responsive CSS=======*/
@media (max-width: 767px){
    .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .commenter-name a{
    display: block;
    }
    .comment-time{
    display: block;
    margin-left: 0px;
    }
    .content-row{
        flex-direction: column;
        align-items: center;
    }
}